<html>

<head>
    <title>bbs index</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>

<body>
    <!-- 导航栏 -->
    <div id="header">
        <div class="container">
            <div class="logo">
                {% load static %}
                <img src="{% static 'img/bbs_logo.png' %}">
            </div>
            <div class="menu-box">
                <div>
                    <ul>
                        <li>
                            <a href="#">首页</a>
                        </li>
                        <li>
                            <a href="#">技术分享</a>
                        </li>
                        <li>
                            <a href="#">资源分享</a>
                        </li>
                        <li>
                            <a href="#">帖子分类</a>
                        </li>
                        <li>
                            <a href="#">帖子搜索</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--内容主体-->
    <div id="page-content">
        <!--帖子显示区域-->
        <div class="container">
            <div class="row">
                <!--帖子模块-->
                <div class="blog-post">
                    <div class="load-box">
                        <div class="content">
                            <div class="content-box">
                                <div class="content-textbox">
                                    <h2>
                                        <a href="#">Java 简介与安装、语法说明、数据类型</a>
                                    </h2>
                                    <div class="content-text">
                                        目录 Java 介绍 Java 简介 Java 语言跨平台原理 JRE 和 JDK JDK 下载/安装说明 Java 语法说明 注释 关键字 标识符 数据类型 基本数据类型 引用数据类型 隐式类型转换 强制类型转换 变量 Java 介绍 Java 简介 Java 是美国 Sun 公司(Stanford University Network)在 1995 年推出的计算机语言. Java 之父:詹姆斯·高斯林(James Gosling) 2009 年,Sun 公司被甲骨文公司收购. Java 语言
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blog-post">
                    <div class="load-box">
                        <div class="content">
                            <div class="content-box">
                                <div class="content-textbox">
                                    <h2>
                                        <a href="#">Java 简介与安装、语法说明、数据类型</a>
                                    </h2>
                                    <div class="content-text">
                                        目录 Java 介绍 Java 简介 Java 语言跨平台原理 JRE 和 JDK JDK 下载/安装说明 Java 语法说明 注释 关键字 标识符 数据类型 基本数据类型 引用数据类型 隐式类型转换 强制类型转换 变量 Java 介绍 Java 简介 Java 是美国 Sun 公司(Stanford University Network)在 1995 年推出的计算机语言. Java 之父:詹姆斯·高斯林(James Gosling) 2009 年,Sun 公司被甲骨文公司收购. Java 语言
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!--底部-->
        <div id="footer">

        </div>
    </div>
</body>

</html>