<html>
    <head>
        <title>bbs index</title>
    </head>
    <body>
        <div id="header">
            <div class="logo">
                {% load static %}
                <img src="{% static 'img/bbs_logo.png' %}">
            </div>
            <div class="menu">
                <div menu-box>
                    <ul>
                        <li>
                            <a href="/">首页</a>
                        </li>
                        <li>
                            <a href="/">技术分享</a>
                        </li>
                        <li>
                            <a href="/">资源分享</a>
                        </li>
                        <li>
                            <a href="/">帖子分类</a>
                        </li>
                        <li>
                            <a href="/">帖子搜索</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>