*{
    box-sizing: border-box;
}
body{
    font-size: 14px;
    margin: 0;
    background-color: antiquewhite;
}
#header{
    width: 100%;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, .21);
    position: absolute;
    padding: 15px 0px;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.logo{
    position: relative;
    float: left;
    margin-right: 20px;
}
.menu-box{
    float: left;
    position: relative;
}
#header .menu-box ul{
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}
.menu-box li{
    float: left;
    display: block;
}
.menu-box a{
    color: black;
    font-size: 20px;
    display: block;
    text-decoration: none;
    /* padding: 15px 0; */
    margin: 15px 20px;
}
.menu-box a:hover{
    color: rgb(179, 18, 243);
}
#page-content{
    padding: 120px 0 0 0;
}
.row{
    margin: 0 -15px;
}
.blog-post{
    float: left;
    width: 100%;
    position: relative; 
}
.content{
    overflow: hidden;
    display: block;
    margin-bottom: 30px;
    background-color: #FFF;
    box-shadow: 0 5px 10px 0 rgba(146,146,146,.1);
}
.content-box{
    padding: 32px 27px;
}
.content-textbox a{
    color: black;
    font-size: 20px;
    display: block;
    text-decoration: none;
}
.content-textbox a:hover{
    color: rgb(179, 18, 243);
}
.content-textbox h2{
    margin-top: 0;
}