<html>

<head>
    <title>登录</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>

<body class="page-center loginPage">
    <div class="center-tab">
        <form class="SignContainer SignContainer-content" action="\login\login\" method="post">
            <div class="form-title">
                <label class="title-blue">登录</label>
            </div>
            {% csrf_token %}
            <input class="input blue-input" name="username" type="text" placeholder="手机号或邮箱" value="">
            <input class="input blue-input" name="password" type="password" placeholder="密码" value="">
            <button class="blueButton" type="submit">登录</button>
            <button class="white-blue-button" type="button" onclick="window.location.href='https://localhost:8000/login/register'">注册</button>
        </form>
        <p>{{ uname }}</p>
        <p>{{ psword }}</p>
        <p>{{ result }}</p>
    </div>
</body>

</html>