 <html>
    <head>
        <title>注册</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    </head>
    <body class="PageCenter registerPage">
        <div>
            <form class="SignContainer" action="\register\" method="post">
                {% csrf_token %}
                <input class="input" name="username" type="text" placeholder="手机号或邮箱" value="">
                <input class="input" name="password" type="password" placeholder="密码" value="">
                <input class="input" name="check_password" type="password" placeholder="确认密码" value="">
                <button class="Button OrangeButton" type="submit">注册</button>
            </form>
            <p>{{ uname }}</p>
            <p>{{ psword }}</p>
            <p>{{ result }}</p>
        </div>
    </body>
</html>